#h4{
    font-size: 70;
    color: white
}

.backdrop{
    background-color: black;
    background-size: 60% 60%;
    
}
body {
    
    background-image: url("https://i.postimg.cc/Gh23v42T/IMG-20230621-133151.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin:auto;
    backdrop-filter: blur(5px);
    height: auto;
    width: auto;
}
#h3{
    font-size: 40;
    color:white;
    background-color: black;
   
}
#h1{
    font-size: 30;
    color: white;
}
.center{
    text-align: left;
    display: inline-block;
   
}
.table,th,td{
    border: 1px solid white;
    width: auto;
}
#h5{
    color:white;
}
.border{
    border-width: 30px;
    border-color: solid white;
 
}
.wrapper{
    display: grid;
    width: auto;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
}